# ===== BOT =====
BOT_TOKEN=TU_TOKEN_AQUI
CLIENT_ID=ID_DE_TU_BOT
GUILD_ID=ID_SERVIDOR_TESTING

# ===== BASE DE DATOS =====
MONGO_URL=mongodb+srv://user:pass@cluster.mongodb.net/bot

# ===== CONFIGURACIÓN =====
LANGUAGE=es
COLOR=#5865F2
ERROR_COLOR=#ED4245
COOLDOWN_COLOR=#FEE75C
OWNER_IDS=

# ===== ESTADO =====
STATUS=online
ACTIVITY_TYPE=Playing
ACTIVITY_NAME="Discord.js v14"